@model List<WebApp_building.DAL.Entities.Feature>

<section class="hero-slider-area slider-home-two">
    <div class="hero-slide-active owl-carousel">
        @foreach (var item in Model)
        {
            <div class="single-hero-slide bg-cover bg-center text-white dark-overlay d-flex align-items-center" style="background-image: url('@Url.Content(item.Image)')">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 col-12 col-lg-10 wow fadeInUp" data-wow-duration="2s">
                            <span>@item.Title</span>
                            <h2>@item.Description</h2>
                            <p>@item.Description2</p>
                            <a href="#contact" class="theme_btn get_start">@item.Button</a>
                        </div>
                    </div>
                </div>
            </div>

        }
       
    </div>
</section>